.si {
    margin: 0 auto;
    background-color: #F5F5F5;

    &__container {
        font-family: Inter;
        width: 90%;
        margin: 0 auto;
        background-color: #F5F5F5;
    }

    &__project-name {
        color: #5F616E;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 155.2%; /* 37.248px */;
    }

    &__title {
        color: rgba(0, 115, 251, 0.85);
        font-family: Inter;
        font-size: 45px;
        font-style: normal;
        font-weight: 700;
        line-height: 155.2%; /* 69.84px */
    }

    &__button-link {
        text-decoration: none;

    }

    &__button {
        width: 100px;
        height: 30px;
        border-radius: 10px;
        background: #0073FB;
        color: white;
        font-size: 17px;
        font-weight: 700;
        border: none;
    }

    &__hr {
        height: 2px;
        background-color: #C0C0C0;
        border: none;
    }

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__header-label {
        color: black;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 155.2%; /* 37.248px */
        width: 20%;
    }

    &__projects {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    &__projects__list {
        list-style: none;
    }

    &__projects__list:hover {
        background-color: #e2e2e2;
    }

    &__projects__container {
        display: flex;
        width: 100%;
        text-decoration: none;
    }
    
    &__projects-listing {
        list-style: none;
        color: #000;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 155.2%; /* 37.248px */
        justify-content: left;
        width: 20%;
    }
}