@use "../../styles/partials/abstracts" as *;

body {
    font-weight: 700;
    color: $primary-color-2;
}

.navbar {

    &__home {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    &__logout {
        margin-top: 250px;
    }
}

