@use "../../styles/partials/abstracts" as *;

body {
    font-weight: 700;
    color: $primary-color-1;
}

.sidebar {

    &__projects {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    &__menuitem:hover {
        display: flex;
        width: 80%;
        height: 40px;
        border-radius: 10px;
        background-color: $primary-color-2;
        margin-bottom: 10px;
        cursor: pointer;
    }
}