$primary-color-1: #323232;
$primary-color-2: #0073FB;
$primary-color-3: rgb(245, 245, 245);
$primary-color-4: #FFFFFF;
$secondary-color-1: #000000;
$secondary-color-2: #0065ad;
$secondary-color-3: #e1e1e1;
$secondary-color-4: #fafafa;

$tablet: 768px;
$desktop: 1280px;
