@import "./styles/partials/abstracts";
@import './components/Header/Header.scss';

*, *::before, *::after {box-sizing: border-box;};

// * {
//     border: 0.1px lightcoral dashed;
// }

body {
    margin: 0;
    font-family: "inter";
    font-weight: normal;
  }
